* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #e3e3f3;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background-color: #e3e3f3;
  --input-color: #99a3ba;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;
  --input-border-focus: #275efe;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678efe;
  --link-selected-color: #678efe;
}

.main-section {
  background: #e4e9f7;
  min-height: 100vh;
  margin-left: 200px;
  transition: all 0.5s ease;
}

.expand-main {
  margin-left: 0px;
}

header {
  width: 100%;
  border-bottom: 1px solid #888;
  height: 60px;
  display: flex;
  align-items: center;
}

header > h1 {
  margin-left: 1rem;
}
