.modal-overlay {
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: whitesmoke;
  border-radius: var(--border-radius);
  width: 95%;
  min-height: 70vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: hsl(360, 67%, 44%);
  cursor: pointer;
}

#modal-title {
  display: flex;
  width: 20rem;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#main-job-input-container {
  display: flex;
  margin-top: 4rem;
}

#job-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

#camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dbdbf3;
  width: 65%;
}

.camera-container {
  min-width: 50%;
  max-width: 90%;
  aspect-ratio: 16/9;
  margin: 1rem;
}

.camera-container > video,
#screenshot {
  width: 100%;
  aspect-ratio: 16/9;
  outline: 2px solid var(--group-background-focus);
  box-shadow: var(--box-shadow);
}

.camera-buttons {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.form-control {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

#user-url-input {
  width: 400px;
}

#url-input {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
