.modal-overlay {
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100% - var(--navbar-width));
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
}

.modal-overlay-expand {
  width: 100%;
  left: 0;
  transition: all 0.5s ease;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: whitesmoke;
  border-radius: var(--border-radius);
  min-width: 95%;
  min-height: 70vh;
  max-width: 80vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: hsl(360, 67%, 44%);
  cursor: pointer;
}

#modal-title {
  display: flex;
  width: 20rem;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
